{% load static %}<!-- Carrega arquivos estáticos, como CSS e JavaScript, usando a tag static --> 
<!DOCTYPE html><!-- Define o tipo de documento como HTML --> 
<html lang="pt-br"><!-- Define o idioma do documento como Português do Brasil -->

<head>
    
    <meta charset="UTF-8"><!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Define a viewport para dispositivos móveis --> 
    <link rel="stylesheet" href= "{% static "meu_site/style.css" %}"/><!-- Importa um arquivo CSS estático usando a tag static --> 
    <title>Bob Esponja</title><!-- Define o título do documento --> 
    
</head>
<body>
    
    {% include "meu_site/rotas/menu.html" %}<!-- Inclui o conteúdo do arquivo "menu.html" localizado na pasta "meu_site/rotas" -->
    <br><!-- Adiciona uma quebra de linha -->
    <div class="inicio"><!-- Abre a div com a classe "inicio" -->
        <img src="https://i.uai.com.br/b9Ae3Fpw94pkmDY1oau2PqDAI6g=/750x0/imgsapp2.uai.com.br/app/noticia_133890394703/2019/02/19/241877/20190219165656329098u.jpeg" alt="Bob Esponja" class="i1">
        <!-- Insere uma imagem representando Bob Esponja -->
        
        <h1><b>A História</b></h1><!-- Título "A História" -->
        
        <p>
            <br><!-- Adiciona uma quebra de linha -->
            <b>"Bob Esponja Calça Quadrada"</b> é uma série animada que segue as aventuras de Bob Esponja, uma esponja do mar alegre e otimista 
            que vive na cidade submarina de Fenda do Biquíni. A história se desenrola em torno das interações de Bob Esponja com seus 
            amigos e vizinhos, bem como suas aventuras no trabalho e além.
            <br><br>
            No centro da narrativa está o Siri Cascudo, um restaurante de fast-food onde Bob Esponja trabalha como cozinheiro. Seu chefe 
            é o avarento e mesquinho Senhor Siriguejo, que muitas vezes explora Bob Esponja e seus colegas de trabalho, como Lula Molusco, 
            um polvo mal-humorado que odeia alegria e diversão.
            <br><br>
            Bob Esponja tem um melhor amigo chamado Patrick Estrela, uma estrela-do-mar rosa e bastante ingênua. Juntos, eles embarcam em 
            inúmeras aventuras absurdas e hilariantes. Além disso, Bob Esponja tem uma paixão platônica pelo seu caracol de estimação Gary, 
            a quem ele trata como um filho.
            <br><br>
            A série também apresenta outros personagens cativantes, como Sandy Cheeks, uma esquilo do Texas que mora em um domo de vidro 
            subaquático e é apaixonada por ciência e esportes extremos. Há também Plankton, o vilão da série e dono do Balde de Lixo, 
            concorrente do Siri Cascudo, cujo principal objetivo é roubar a receita do hambúrguer de siri secreta do Senhor Siriguejo.
            <br><br>
            Ao longo dos episódios, os espectadores testemunham uma infinidade de situações engraçadas e absurdas, desde Bob Esponja 
            tentando passar no exame de motorista até competindo em concursos de culinária ou salvando Fenda do Biquíni de desastres 
            iminentes. A série é marcada por seu humor surreal, piadas inteligentes e momentos emocionantes de camaradagem e amizade.
            <br><br>
            Além das aventuras do dia a dia, <b>"Bob Esponja Calça Quadrada"</b> ocasionalmente explora temas mais sérios, como responsabilidade, 
            amizade, aceitação e trabalho em equipe. Embora seja um desenho animado destinado principalmente a crianças, a série conquistou 
            uma base de fãs de todas as idades devido à sua natureza hilária e personagens memoráveis.
            <br><br>
            Ao longo dos anos, <b>"Bob Esponja Calça Quadrada"</b> tornou-se um fenômeno cultural, gerando filmes, jogos de vídeo game, produtos de 
            merchandising e até um musical da Broadway. Seu legado perdura como um marco da animação televisiva, continuando a cativar e 
            entreter espectadores em todo o mundo com sua comédia inteligente e charme único.
        </p><!-- Parágrafo com informações sobre a história de Bob Esponja -->

        <h3><b>Principais Locais do Desenho</b></h3><!-- Título "Principais Locais do Desenho" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://pm1.aminoapps.com/6421/7166c96fcee54bdfe227f02afc71d5cb558b4376_00.jpg" alt="Fenda do Biquine" class="if2"/><!-- Insere uma imagem representando a Fenda do Biquini -->
            <p><b>Fenda do Biquini</b></p><!-- Parágrafo com o nome "Fenda do Biquini" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://e1.pxfuel.com/desktop-wallpaper/698/192/desktop-wallpaper-the-krusty-krab-spongebob-krusty-krab.jpg" alt="Siri Cascudo" class="if2"/><!-- Insere uma imagem representando o Siri Cascudo -->
            <p><b>Siri Cascudo</b></p><!-- Parágrafo com o nome "Siri Cascudo" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm7JOAAHSZnhQY8RKyO3a29zHeCd7aljqWjbXz2kqOXhRjWjb4MMm_77BZ8YBmCxL9iUU&usqp=CAU" alt="Balde de Lixo" class="if2"/>
            <!-- Insere uma imagem representando o Balde de Lixo -->
            <p><b>Balde de Lixo</b></p><!-- Parágrafo com o nome "Balde de Lixo" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://static.wikia.nocookie.net/spongebob-polska/images/3/36/C1.png/revision/latest?cb=20180512093046&path-prefix=pl" alt="Escola de Pilotagem de Barcos" class="if2"/>
            <!-- Insere uma imagem representando a Escola de Pilotagem de Barcos -->
            <p><b>Escola de Pilotagem de Barcos</b></p><!-- Parágrafo com o nome "Escola de Pilotagem de Barcos" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://pm1.aminoapps.com/6710/cdf3ca7aaf2f64f69561325ee90195dc817e3cf6_hq.jpg" alt="Campo de Águas Vivas" class="if2"/><!-- Insere uma imagem representando o Campo de Águas Vivas -->
            <p><b>Campo de Águas Vivas</b></p><!-- Parágrafo com o nome "Campo de Águas Vivas" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://static.wikia.nocookie.net/infobob/images/8/89/Casa_abacaxi.jpg/revision/latest?cb=20111024002515&path-prefix=pt" alt="Casa de Bob Esponja" class="if2"/><!-- Insere uma imagem representando a Casa de Bob Esponja -->
            <p><b>Casa de Bob Esponja</b></p><!-- Parágrafo com o nome "Casa de Bob Esponja" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://zonacuriosa.com/wp-content/uploads/2020/11/curiosidades-incriveis-sobre-o-patrick-estrela-3.jpg" alt="Casa de Patrick" class="if2"/><!-- Insere uma imagem representando a Casa de Patrick -->
            <p><b>Casa de Patrick</b></p><!-- Parágrafo com o nome "Casa de Patrick" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://pm1.aminoapps.com/6711/56625540022fd85975f8ebab419cfd89970c264d_hq.jpg" alt="Casa de Lula Molusco" class="if2"/><!-- Insere uma imagem representando a Casa de Lula Molusco -->
            <p><b>Casa de Lula Molusco</b></p><!-- Parágrafo com o nome "Casa de Lula Molusco" -->
        </div><!-- Fecha a div com a classe "if1" -->
        
        <div class="if1"><!-- Abre a div com a classe "if1" -->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEOfaqmGkJzvOSAQ6uitI0-NSdyye7N8E4Tg&usqp=CAU" alt="Casa de Sandy" class="if2"/><!-- Insere uma imagem representando a Casa de Sandy -->
            <p><b>Casa de Sandy</b></p><!-- Parágrafo com o nome "Casa de Sandy" -->
        </div><!-- Fecha a div com a classe "if1" -->
    
    </div><!-- Fecha a div com a classe "inicio" -->

</body>
</html>
